@import '../settings';

.blog-list {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li + li {
      margin-top: 2rem;
    }
    li {
      &:hover {
        opacity: 0.8;
        transition: all ease-in-out 0.2s;
      }
      a {
        display: block;
        padding: 0.5rem;
        background-color: lighten($black, 25);
        border-radius: 5px;
        text-decoration: none;

        h2 {
          margin: 0;
        }
        p {
          margin: 0;
        }
        small {
          color: $primary;
          font-style: italic;
        }
      }
    }
  }
}
