@import '../settings';

.footer {
  padding: 1.5rem 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: var(--teal-dark);
      transition: all ease-in-out 0.35s;
    }
  }

  .social-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    li {
      margin: 0 5px;
    }
  }

  .social-icon {
    display: block;
    max-width: 35px;
    height: auto;

    path {
      fill: var(--white);
      transition: all ease-in-out 0.35s;
    }

    &:hover {
      path {
        fill: var(--teal-normal);
      }
    }
    transition: all ease-in-out 0.5s;
  }
}
