@import '../settings';

.form {
  margin: 3rem;
  padding: 3rem;
  background-color: $secondary;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;

  .form-control {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  input {
    outline: none;
    height: 1.75rem;
    border: 3px solid darken($secondary, 10);
    font-size: 1.1rem;
    color: darken($secondary, 10);
    border-radius: 5px;
    background-color: lighten($secondary, 35);
  }
  textarea {
    outline: none;
    border: 3px solid darken($secondary, 10);
    font-size: 1.1rem;
    color: darken($secondary, 10);
    border-radius: 5px;
    background-color: lighten($secondary, 20);
  }
  label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  input,
  textarea {
    &:focus,
    &:active {
      border: 3px solid $primary;
    }
  }

  .button-container {
    margin: 20px 0;
  }

  .button {
    padding: 0.45rem 0.9rem;
    font-size: 1.2rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 3px solid $white;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: $primary;
      border: 3px solid darken($secondary, 10);
      color: darken($secondary, 10);
    }
  }
}
