@import '../settings';

.navigation {
  padding: 1.5rem 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: darken($white, 5);
    transition: all ease-in-out 0.35s;

    &:hover {
      color: $primary;
    }
  }

  nav {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      justify-content: space-evenly;
      align-items: center;
      li {
        margin: 0 0.6rem;

        a {
          &.active {
            color: darken($primary, 10);
          }
        }
      }
    }
  }
}
