@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  @apply bg-black-coral text-foam;
}

a {
  @apply transition-all duration-300 ease-in-out;
}

a:not([class]) {
  @apply underline;
  text-decoration-color: #f6d186;

  &:hover {
    @apply no-underline text-yellow;
  }
}

html,
body {
  @apply min-h-screen;
}

.top-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

svg {
  max-width: 100%;
  height: auto;
}

button i svg {
  width: 10px;
}
