@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Regular.woff2') format('woff2'), url('FiraCode-Regular.woff') format('woff'),
    url('FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
